.header{
    display:flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}
.nav-items>ul{
    list-style-type:none;
    display: flex;
}
.nav-items>ul>li{
  padding: 10px;
}
.logo{
    width: 100px;
}
.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.card >img {
    width: 100%;
}
.restaurantList{
    display: flex;
    flex-wrap: wrap;
}
.search-container{
    margin: 10px;
}
.search-container>button{
    margin-left: 5px;
}
.search-input{
    /* border: 2px solid black; */
    border-radius: 5px;
}
.shimmer-card{
    width: 100px;
    height:100px;
    background-color: lightgrey;
    padding: 100px;
    margin: 10px;
}
.menu-items{
    display: flex;
}